

<div class="navbar-wagon">
  <%= link_to 'YELPER', root_path %>
  <%= image_tag "logo.png", id: "logo" %>

  <div class="navbar-wagon-right hidden-xs hidden-sm">

   <%= link_to 'Add a new restaurant', new_restaurant_path, class: 'btn btn-primary' %>
  </div>
 </div>


