
<h1>Best restaurants in Town</h1>

<div class="container">
  <div class="row">

    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/card', restaurant: restaurant %>
      </div>
    <% end %>

  </div>
</div>

